@page "/treats"

<div>
    <table style="margin: auto">
        <tbody>
            <tr>
                <td><img src="/images/People.png" @onclick="OnPeopleClick" /></td>
                <td>&nbsp;</td>
                <td><img src="/images/Difficulty.png" @onclick="OnDifficultyClick" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><img src="/images/AnitasTreats.png" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><img src="/images/Type.png" @onclick="OnTypeClick" /></td>
                <td>&nbsp;</td>
                <td><img src="/images/Time.png" @onclick="OnTimeClick" /></td>
            </tr>
        </tbody>
    </table>
</div>
